<h1><%= @vendor.name %></h1>
<h3>Our Sweets</h3>

<% if flash[:success] %>
    <%= flash[:success] %>
<% end %>

<ul>
    <% @vendor.sweets.each do |sweet| %>
        <li><%= link_to sweet.name, sweet_path(sweet) %></li>
    <% end %>
</ul>